<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0"
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BuyItemServ</servlet-name>
    <servlet-class>com.product.servlet.BuyItemServ</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GoodsServ</servlet-name>
    <servlet-class>com.product.servlet.GoodsServ</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SaleItemServ</servlet-name>
    <servlet-class>com.product.servlet.SaleItemServ</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PageServ</servlet-name>
    <servlet-class>com.product.servlet.PageServ</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>BuyItemServ</servlet-name>
    <url-pattern>/BuyItemServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GoodsServ</servlet-name>
    <url-pattern>/GoodsServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SaleItemServ</servlet-name>
    <url-pattern>/SaleItemServ</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PageServ</servlet-name>
    <url-pattern>/PageServ</url-pattern>
  </servlet-mapping>

</web-app>